
*,
*::before,
*::after {
  font-family: 'Raleway', sans-serif; 
}

body {
  font-family: 'Raleway'; 
  font-weight: 400; 
  line-height: 1.5; 

}

h1, h2, .bold-text { 
  font-family: 'Raleway';
  font-weight: 700; 
}

.header, .cover, .lots, .about, .footer,
.text-wrapper, .span, .button {
  font-family: 'Raleway'; 
}
